.tt1{
    size: 55px;
}

.p{
    font-family: arial;
    font-size: 13px;
    margin-top: 10px;
    margin-left: 7px;
    color: black;
}
.span{
    font-weight: bold;
}
.lll{
    color: rgb(80, 80, 238);
}


